# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
coverage.*
test-output.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
/__init__.py
/middlewares.py
/pipelines.py
/settings.py

# Windows
Thumbs.db

# OSX miscellaneous
.DS_Store